<!doctype html>
<html lang="en" prefix="dct: http://purl.org/dc/terms/
                        rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
                        dcat: http://www.w3.org/ns/dcat#
                        foaf: http://xmlns.com/foaf/0.1/">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Catalog for {{ iri }}</title>
    <base href="{{ iri }}">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
    <script src="https://apps.humanatlas.io/components/hra-app-shell.wc.js"></script>
  </head>
  <body>
    <hra-app-shell logo-text="Human Reference Atlas Knowledge Graph" logo-text-small="HRA KG"
      logo-url="{{ lodIri }}" hide-menu>
        <div class="main" typeof="dcat:Catalog" resource="{{ iri }}">
          <h1 class="page-title" property="dct:title">{{ iri }}</h1>
          <ul>
          {%- for item in items -%}
          {% if itemType == 'Dataset' %}
            <li property="dcat:dataset" typeof="dcat:Dataset" resource="{{ iri }}{{ item }}">
              <a href="{{ item }}/" resource="{{ iri }}{{ item }}"><span property="dct:title">{{ item }}</span></a>
            </li>
          {% elif itemType == 'Catalog' %}
            <li property="dcat:catalog" typeof="dcat:Catalog" resource="{{ iri }}{{ item }}">
              <a href="{{ item }}/" resource="{{ iri }}{{ item }}"><span property="dct:title">{{ item }}</span></a>
            </li>
          {%- endif -%}
          {%- endfor -%}
          </ul>
        </div>
    </hra-app-shell>
  </body>
</html>
