<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>KG Explorer|{{ noSlashIri }}</title>
    <base href="{{ lodIri }}">
    <script type="application/ld+json">
    {{ getStructuredData() | json }}
    </script>

    <base href="https://cdn.humanatlas.io/ui/kg-explorer/" />
    <link href="https://cdn.humanatlas.io/ui/kg-explorer/styles.css" rel="stylesheet" />
    <script src="https://cdn.humanatlas.io/ui/kg-explorer/main.js" type="module"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="https://cdn.humanatlas.io/ui/kg-explorer/favicon.png" />
  </head>
  <body>
    <hra-kg-explorer mirror-url="{{ lodIri }}"></hra-kg-explorer>
  </body>
</html>
