<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="https://humanatlas.io/favicon.png" />

    <title>{{ was_derived_from.title }}, {{ version }}</title>
    {% if includeBaseHref %}
    <base href="{{ iri }}/">
    {% endif %}
    <script type="application/ld+json">
    {{ getStructuredData() | json }}
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
    <script src="https://apps.humanatlas.io/components/hra-app-shell.wc.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/vanillawc/wc-markdown@1/index.js" type="module"></script>
  </head>
  <body>
    <hra-app-shell logo-text="Human Reference Atlas Knowledge Graph" logo-text-small="HRA KG"
      logo-url="{{ lodIri }}" hide-menu>
        <wc-markdown src="README.md" class="main"></wc-markdown>
    </hra-app-shell>
  </body>
</html>
