<h1 class="page-title">{{ title }}</h1>

{{ description }}

<hr />

## Metadata

| Property | Value |
| :------------- |:-------------|
| **Version:** | {{ version }} |{% for creator in creators %}
| **Creator:** | [{{ creator.name }}]({{ creator.id }}) |{% endfor %}
| **Creation date:** | {{ creation_date }} |
| **Publisher:** | {{ publisher }} |
| **License:** | {{ license }} |

<hr />

## Distributions

{% for distribution in distributions %}
<h3 id={{ distribution.mediaType | pageId }}>{{ distribution.mediaType | fileType }}</h3>

[{{ distribution.downloadUrl }}]({{ distribution.downloadUrl }})
{% endfor %}

<hr />

## Provenance

<h3 id="raw-data">Source Data</h3>

**Title:** 
{{ was_derived_from.title }}

**Description:**
{{ was_derived_from.description }}

**Creator(s):** 
{% for person in was_derived_from.creators %}
* [{{ person.fullName }}]({{ person.id }})
{% endfor %}

**Project Lead:**
{% for person in was_derived_from.project_leads %}
* [{{ person.fullName }}]({{ person.id }})
{% endfor %}

**Reviewer(s):** 
{% for person in was_derived_from.reviewers %}
* [{{ person.fullName }}]({{ person.id }})
{% endfor %}

**Creation Date:**
{{ was_derived_from.creation_date }}

**License:**
{{ was_derived_from.license }}

**Publisher:**
{{ was_derived_from.publisher }}

**Funder:**
{{ was_derived_from.funders[0].funder }}

**Award Number:**
{{ was_derived_from.funders[0].awardNumber }}

**HuBMAP ID:**
{{ was_derived_from.hubmapId }}

**DOI:**
{{ was_derived_from.doi }}

**Downloads:**
{% for distribution in was_derived_from.distributions %}
* [{{ distribution.title }}]({{ distribution.downloadUrl }})
{% endfor %}
